@use templates::admin::layout::sidebar;
@use templates::helpers::*;
@use admin::handlers::HeaderData;
@(h: &HeaderData)

<!doctype html>
<html lang="en" class="no-js">
<head>
    <title>Backend area | @h.title</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/themes/admin/favicon.ico" type="image/x-icon">
    @:css("/assets/themes/admin/css/ui-lightness/jquery-ui-1.8.13.custom.css")
    @:css("/assets/themes/admin/css/jquery.fancybox-1.3.4.css")
    @:css("/assets/themes/admin/css/style.css?v=2")
    @:css("/assets/themes/admin/css/jquery.treeview.css")
    @:css("/assets/themes/admin/css/buttons.css?v=2")
    @:css("/assets/themes/admin/components/AttentionBox/css/attention_box.css")

    @:js("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    @:js("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
    @:js("/assets/themes/admin/js/libs/modernizr-1.7.min.js")
    @:js("/assets/themes/admin/js/jquery.jtabs.js")
    @:js("/assets/themes/admin/js/jquery.treeview.js")
    @:js("/assets/themes/admin/js/jquery.fancybox-1.3.4.pack.js")
    @:js("/assets/themes/admin/js/plugins.js")
    @:js("/assets/themes/admin/js/jquery.ui.nestedSortable.js")
    @:js("/assets/themes/admin/js/script.js")
    @:js("/assets/themes/admin/components/AttentionBox/js/attention_box-min.js")
</head>
	<div id="container">
		<!-- start header -->
		<header>
			<h1 class="logo"><a href="/">Iron CMS</a></h1>
			<section class="log-area">
				<div class="section-inner">
					<strong>Logged in as Admin</strong>
					<a href="/admin/logout" class="btn-2"><span>Logout</span><em class="arrow"></em></a>
				</div>
			</section>
			<section>
				<div class="section-inner">
					<a href="/" class="btn-1"><em class="view"></em><span>View Website</span></a>
				</div>
			</section>
		</header>
		<!-- end header -->
		<div id="main" role="main">
@:sidebar(h)
			<div id="content">